<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNews Post</title>
</head>
<body>
   
    <div name="News" style="width: 640px; height:700px ; position: relative;">
        <img id="bg" src=""  style="width: 640px; height:700px ;"">
        <span style="position:absolute ; white-space: pre-line;top: 100px;left:30px">{{News|safe}}</span>
    </div>

</body>
</html>